:root {
    --bg-color: #111827; 
    --card-color: #1F2937; 
    --primary-color: #38BDF8; 
    --text-color: #E5E7EB; 
    --text-secondary: #9CA3AF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111827;
    color: #E5E7EB;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

h1, h2, h3 {
    font-weight: 600;
    color: white;
}

h1 { 
    font-size: 3rem; 
}

h2 { 
    font-size: 2.5rem; 
    margin-bottom: 1.5rem; 
    text-align: center; 
}

p { 
    font-size: 1.1rem; 
    color: #9CA3AF; 
}

section { 
    padding: 5rem 0; 
}

a { 
    color: #38BDF8;
     text-decoration: none; 
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(#1F2937);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    color: #E5E7EB;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color:#38BDF8;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 5rem;
}

.home-content .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(#38BDF8);
    margin-bottom: 1.5rem;
}

.home-content h1 {
    margin-bottom: 0.5rem;
}

.home-content .about-me {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 2rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}
.social-links img:hover {
    transform: scale(1.2);
}

#about .container p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
#about strong {
    color: var(#38BDF8);
}
